<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="driverId" [value]="service.formData.driverId"/>
    <div class="form-group">
        <label>First Name</label>
        <input  class="form-control form-control-lg" placeholder="First Name" 
        name="firstName" #firstName="ngModel"
         [(ngModel)]="service.formData.firstName"
         required >
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input  class="form-control form-control-lg" placeholder="Last Name" 
        name="lastName" #lastName="ngModel"
         [(ngModel)]="service.formData.lastName"
         required
        >
    </div>
    
    <div class="row">
        <div class="form-group col-md-6">
            <label>Address</label>
            <input  class="form-control form-control-lg" 
            placeholder="Address" name="address"
             #address="ngModel" [(ngModel)]="service.formData.address"
             required
           >
        </div>
        <div class="form-group  col-md-6">
            <label>City</label>
            <input  class="form-control form-control-lg" 
            placeholder="City" name="city"
             #city="ngModel" [(ngModel)]="service.formData.city"
             required
          >
        </div>
    </div>
    
    <div class="form-group mt-4 ">
        <button class="btn btn-info btn-lg  " type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>
    
