<div class="jumbotron py-3"> <h1 class="display-4 text-center">
    VEHICLE
 </h1></div>
<div class="row">

   
    <div class="col-md-6">
        <span>List of vehicles</span>
        <table class="table">
            <thead class="thead-ligth">
              <tr>
                  <th>Number</th>
                  <th>Model</th>
                  <th>License Plate</th>
                  
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)" >{{pd.number}}</td>
                    <td (click)="populateForm(pd)">{{pd.model}}</td>
                    <td (click)="populateForm(pd)">{{pd.licensePlate}}</td>
                   
                    <td >
                        <i  class="far fa-trash-alt fa-lg text-danger"(click)="onDelete(pd.vehicleId)" ></i>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <app-vehicle-details-form></app-vehicle-details-form>
          </div>
    </div>