<div class="jumbotron py-3"> <h1 class="display-4 text-center">
    VEHICLE REG
 </h1></div>
<div class="row">

   
    <div class="col-md-6">
        <span>List of registration</span>
        <table class="table">
            <thead class="thead-ligth">
              <tr>
                  <th>Number</th>
                  <th>Last Registration</th>
                  <th>Next Registration</th>
                  
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.registrationList">
                    <td  >{{pd.vehicle.number}}</td>
                    <td >{{pd.lastRegistrationDate}}</td>
                    <td >{{pd.nextRegistrationDate}}</td>
                   
                    <td >
                        <i  class="far fa-trash-alt fa-lg text-danger" ></i>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <app-vehicle-registration-form></app-vehicle-registration-form>
          </div>
    </div>
